<div class="navbar navbar-expand-sm navbar-light navbar-lewagon pt-0 sticky-navbar">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo à gauche -->
    <%= link_to root_path, class: "navbar-brand me-3" do %>
      <img src="<%= asset_path('WR logo.png') %>" alt="WRLogo" style="height: 90px;" />
    <% end %>

    <!-- Barre de recherche au centre -->
    <div class="search-bar-container flex-grow-1 mt-3 mb-2">
      <div class="search-bar rounded-pill shadow-sm py-2 px-3 d-flex align-items-center">
        <%= form_with url: root_path, method: :get, class: "w-100 d-flex align-items-center" do |form| %>
          <!-- Destination -->
          <div class="search-field flex-grow-1">
            <%= text_field_tag :query, params[:query], class: "form-control border-0", placeholder: "Recherche" %>
          </div>
          <span class="border-start mx-2"></span>
          <!-- Arrivée -->
          <div class="search-field flex-grow-1">
            <%= form.date_field :occurs_on, class: "form-control border-0", placeholder: "Arrivée" %>
          </div>
          <span class="border-start mx-2"></span>
          <!-- Départ -->
          <div class="search-field flex-grow-1">
            <%= form.date_field :end_on, class: "form-control border-0", placeholder: "Départ" %>
          </div>
          <span class="border-start mx-2"></span>
          <!-- Voyageurs -->
          <div class="search-field flex-grow-1">
            <%= form.search_field :guests, class: "form-control border-0", placeholder: "Voyageurs" %>
          </div>
          <!-- Bouton de recherche -->
          <button type="submit" class="btn btn-danger rounded-circle ms-2 d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
            <i class="fas fa-search text-white"></i>
          </button>
        <% end %>
      </div>
    </div>



    <!-- Icône utilisateur à droite -->
    <% if user_signed_in? %>
      <div class="ms-3">
        <div class="dropdown">
          <img class="avatar dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" src="<%= current_user && current_user.avatar.attached? ? cl_image_path(current_user.avatar.key) : Cloudinary::Utils.cloudinary_url('pngtree-a-otter-on-tire-with-green-background-png-image_13046574_dgx7ou') %>" alt="User Avatar" style="height: 40px; border-radius: 50%; cursor: pointer;">
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to "Mon Profil", edit_user_registration_path, class: "dropdown-item"%></li>
            <li><%= link_to "Mon Dashboard", users_dashboard_path, class: "dropdown-item"%></li>
            <li><%= link_to "Me Déconnecter", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="ms-3">
        <%= link_to new_user_session_path, class: "btn btn-outline-secondary rounded-pill px-3" do %>
          <i class="fa-solid fa-circle-user me-2"></i> Me connecter
        <% end %>
      </div>
    <% end %>
  </div>
</div>
