<div class="container mt-5 mb-10">

  <h1 class="my-5">Bienvenue <%= @user.email %> !</h1>

  <p class="mb-5"> Ton dashboard te permet de gérer tes annonces publiées. Tu peux les modifier à ta guise et les suppirmer si besoin. Tu pourras également consulter ici les réservations que tu as effectuées et consulter l'annonce afin d'en savoir un peu plus sur ton séjour à venir. N'hésite pas à contacter l'hôte pour avoir plus d'informations. </p>
  <div class = "d-flex justify-content-between">
  <h1>Mes annonces</h1>
    <%= link_to "Ajouter une annonce", new_offer_path, class: "text-center btn button_general", style: "width: auto;" %>
  </div>
  <hr class="custom-line">
  <div class="row mt-5">
    <% @offers.each do |offer| %>
      <div class="col-4">
        <div class="card-trip mb-4">
          <div
            class="card-trip-image mb-2"
            style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<%= offer.photos.any? ? cl_image_path(offer.photos.first.key) : asset_path('pngtree-a-otter-on-tire-with-green-background-png-image_13046574.png') %>')">
          </div>
          <div class="card-trip-infos position-relative">
            <%= link_to offers_path, data: { turbo_method: :delete } do %>
              <i class="fa-regular fa-trash-can text-black position-absolute trash-icon"></i>
            <% end %>
            <div class="card-trip-details">
              <h2 class="text-dark"><%= offer.title %></h2>
              <p><%= offer.address %></p>
            </div>
            <h2 class="card-trip-pricing text-dark"><%= offer.price %>€</h2>
            <img
              src="<%= offer.user.avatar.attached? ? cl_image_path(offer.user.avatar.key) : Cloudinary::Utils.cloudinary_url('pngtree-a-otter-on-tire-with-green-background-png-image_13046574_dgx7ou') %>"
              class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="container mt-5 mb-10">
  <h1>Mes réservations à venir</h1>
  <hr class="custom-line">
  <div class="row mt-5 mb-3">
    <% @bookings.each do |booking| %>
      <div class="col-4">
        <div class="card-trip mb-4">
          <%= link_to offers_path do %>
            <div
              class="card-trip-image"
              style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<%= booking.offer.photos.any? ? cl_image_path(booking.offer.photos.first.key) : asset_path('pngtree-a-otter-on-tire-with-green-background-png-image_13046574.png') %>')">
            </div>
            <div class="card-trip-infos">
              <!-- Title and address -->
              <div>
                  <%= link_to booking_path(booking), data: { turbo_method: :delete } do %>
                  <i class="fa-regular fa-trash-can text-black"></i>
                  <% end %>
                <div class="card-trip-details">
                  <h2 class="text-dark"><%= booking.offer.title %></h2>
                  <p><%= booking.offer.address %></p>
                </div>

                <!-- Dates -->
                <div class="card-trip-dates mt-2">
                  <p><strong>Date de début :</strong> <%= booking.occurs_on.strftime('%d %b %Y') %></p>
                  <p><strong>Date de fin :</strong> <%= booking.end_on.strftime('%d %b %Y') %></p>
                </div>


              </div>
              <!-- Pricing -->
              <h2 class="card-trip-pricing text-dark"> Prix total du séjour : <%= booking.trip_price %>€</h2>
              <img
                src="<%= booking.offer.user.avatar.attached? ? cl_image_path(booking.offer.user.avatar.key) : Cloudinary::Utils.cloudinary_url('pngtree-a-otter-on-tire-with-green-background-png-image_13046574_dgx7ou') %>"
                class="card-trip-user avatar-bordered" />
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
