<div class="banner mb-10" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "nid-cigognes.jpg"%>); background-position: center top;">
  <div class="container">
    <h1>Woof & Roof</h1>
    <p>Plus qu'un logement, une expérience.</p>
    <%= link_to "Proposer un logement", new_offer_path, class: "btn btn-ghost" %>
  </div>
</div>
&nbsp
<div style="text-align: center;">
<h1>Les annonces</h1>
</div>
<div class="container mt-5 mb-10">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-4">
        <div class="card-trip mb-4">
          <%= link_to offer_path(offer) do %>
            <div
            class="card-trip-image"
            style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<%= offer.photos.any? ? cl_image_path(offer.photos.first.key) : asset_path('pngtree-a-otter-on-tire-with-green-background-png-image_13046574.png') %>')">
            </div>
            <div class="card-trip-infos">
              <div class="card-trip-details">
                <h2 class="text-dark"><%= offer.title %></h2>
                <p><%= offer.address %></p>
              </div>
              <h2 class="card-trip-pricing text-dark"><%= offer.price %>€</h2>
              <img
                src="<%= offer.user.avatar.attached? ? cl_image_path(offer.user.avatar.key) : Cloudinary::Utils.cloudinary_url('pngtree-a-otter-on-tire-with-green-background-png-image_13046574_dgx7ou') %>"
                class="card-trip-user avatar-bordered"/>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
