<div class="banner mb-10" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "nid-cigognes.jpg"%>); background-position: center top;">
  <div class="container">
    <h1>Woof & Roof</h1>
    <p>Bien plus qu'un logement, une véritable expérience de vie.</p>
    <%= link_to "Proposer un logement", new_offer_path, class: "btn btn-ghost" %>
  </div>
</div>


<div class="container mt-5 mb-10">
  <h1 class = "text-center mb-2" >Créer votre annonce</h1>
  <div class="row">
    <div class="col-6 mb-2">
    <%= simple_form_for(@offer) do |f| %>
      <%= f.input :title, label: "Titre" %>
      <%= f.input :description %>
      <%= f.input :price, label: "Prix" %>
      <%= f.input :address, label:"Adresse" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="text-end mt-4">
        <%= f.button :submit, "Envoyer",class: "button_general" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
