<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "nid-cigognes"%>);">
  <div class="container">
    <h1>Woof & Roof</h1>
    <p>Plus qu'un logement, une expérience.</p>
    <%= link_to "Proposer un logement", new_offer_path, class: "btn btn-ghost" %>
  </div>
</div>


<%= simple_form_for(offer) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>

<% end %>
