<div class="container">
  <h1 class="page-title"> <%= @offer.title %> </h1>

  <div class="gallery-container">
    <div class="main-image">
      <%= image_tag "chenil.jpg", class: "main-image" %>

    </div>

    <div class="mini-cards">
      <div class="mini-card">
        <%= image_tag "chenil-la-poursuite-chien-traineau-30008.avif", class: "main-image" %>
      </div>
      <div class="mini-card">
          <%= image_tag "chenil4.jpg", class: "main-image" %>
      </div>
      <div class="mini-card">
         <%= image_tag "chenil2.jpg", class: "main-image" %>
      </div>
      <div class="mini-card">
         <%= image_tag "chenil3.jpg", class: "main-image" %>
      </div>
    </div>
  </div>

  <div class="description-container">
    <h3 class="section-title"> <%= @offer.title + ", " + @offer.address %> </h3>
    <p class="section-paragraph">
    <h4>Description</h4>
    <%= @offer.description %>
    </p>
  </div>
</div>
