<div class="container">
  <h1 class="page-title">Chenil Belle vu Chenil Bellevue chaleureux et conviviale</h1>

  <div class="gallery-container">
    <div class="main-image">
      <%= image_tag "chenil.jpg", class: "main-image" %>

    </div>

    <div class="mini-cards">
      <div class="mini-card">
        <%= image_tag "chenil-la-poursuite-chien-traineau-30008.avif", class: "main-image" %>
      </div>
      <div class="mini-card">
          <%= image_tag "chenil4.jpg", class: "main-image" %>
      </div>
      <div class="mini-card">
         <%= image_tag "chenil2.jpg", class: "main-image" %>
      </div>
      <div class="mini-card">
         <%= image_tag "chenil3.jpg", class: "main-image" %>
      </div>
    </div>
  </div>

  <div class="description-container">
    <h2 class="section-title">À propos du chenil</h2>
    <p class="section-paragraph">
    Boxes individuels adaptés au gabarit et aux besoins de chaque pensionnaire, chauffés selon la saison. Les boxes sont construits en dur avec une toiture en tuiles et une isolation des murs, garantissant un abri sec et protégé des intempéries.
    </p>
  </div>
</div>
