<div class="container">
  <!-- Titre Principal -->
  <h1 class="page-title"><%= @offer.title %></h1>

  <!-- Galerie d'images -->
  <div class="gallery-container">
    <div class="main-image">

      <%= cl_image_tag @offer.photos.first.key, class: "main-image" %>
    </div>

    <div class="mini-cards">
      <% @offer.photos.drop(1).each do |photo| %>
      <div class="mini-card">
        <%= cl_image_tag photo.key, class: "main-image" %>
      </div>
        <% end %>
    </div>
  </div>


<div class="row">
  <div class="description-container col-8">
    <h3 class="section-title"> <%= @offer.title + ", " + @offer.address %> </h3>
    <p class="section-paragraph">
    <h4>Description</h4>
    <p class="section-paragraph">
      <%= @offer.description %>
    </p>
  </div>


  <!-- Le module de réservation sticky -->
  <div class="sticky-booking-container col-4 mb-5">
    <div class="sticky-booking">
      <h3 class="sticky-booking-title"><%= @offer.price %>€ / nuit</h3>

      <div class="booking-fields">
        <div class="booking-field">
          <label for="arrival-date">Arrivée</label>
          <%= date_field_tag :arrival, nil, class: "form-control", id: "arrival-date" %>
        </div>
        <div class="booking-field">
          <label for="departure-date">Départ</label>
          <%= date_field_tag :departure, nil, class: "form-control", id: "departure-date" %>
        </div>
        <div class="booking-field">
          <label for="guests">Voyageurs</label>
          <%= number_field_tag :guests, 1, min: 1, class: "form-control", id: "guests" %>
        </div>
      </div>

      <div class="booking-actions">
        <%= button_to "Réserver", new_offer_booking_path(@offer), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <!-- Section de localisation -->
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

